Home Page
<head>
    <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
</head>
{{ content }}
<br/>
User:
<input type="text" id="uname" name="uname"/><br/>
Passwd:
<input type="password" id="passwd" name="passwd"/><br/>
<button id="login">Login</button>
<p id="response">
</p>
<script >
$( document ).ready(function() {
    $("#login").click(function(){
      uname = $("#uname").val();
      passwd = $("#uname").val();
      jQuery.ajax({
        url     : 'login',
        type    : 'POST',
        dataType: 'json',
        data: JSON.stringify({"uname":uname,"passwd":passwd}),
        success : function(data){
             $("#response").html(data.message)
        }
      });
    });

});

</script>